{% extends "base.html" %} {% block content %}
<div class="psp-header">PSP uyumlu indirmeler ve bağlantılar</div>
<hr class="psp-separator" />

<div class="category-grid">
  {% for category in categories %}
  <div class="category-item">
    <a href="{{ url_for('category_detail', slug=category.slug) }}">
      <img src="{{ category.icon }}" alt="{{ t(category.slug) }}" />
      <span>{{ t(category.slug) }}</span>
    </a>
  </div>
  {% endfor %}
</div>

<hr class="psp-separator" />
<div class="psp-header">Çeşitli Bağlantılar</div>
{% endblock %}
